
.DS_Store

PokerChat.xcodeproj/project.xcworkspace/xcuserdata/xiaochuan.xcuserdatad/UserInterfaceState.xcuserstate

PokerChat.xcodeproj/xcuserdata/xiaochuan.xcuserdatad/xcschemes/PokerChat.xcscheme

PokerChat.xcodeproj/xcuserdata/xiaochuan.xcuserdatad/xcschemes/xcschememanagement.plist
